{
  "Dhcp4": {
    "interfaces-config": {
      "interfaces": [
        {{ iface_internal | to_json }}
      ],
      "dhcp-socket-type": "raw"
    },

    "control-socket": {
      "socket-type": "unix",
      "socket-name": "/run/kea/kea4-ctrl-socket"
    },

    "lease-database": {
      "type": "memfile",
      "persist": true,
      "name": "/var/lib/kea/kea-leases4.csv",
      "lfc-interval": 3600
    },

    "expired-leases-processing": {
      "reclaim-timer-wait-time": 10,
      "flush-reclaimed-timer-wait-time": 25,
      "hold-reclaimed-time": 3600,
      "max-reclaim-leases": 100,
      "max-reclaim-time": 250,
      "unwarned-reclaim-cycles": 5
    },

    "renew-timer": {{ dhcp_renew_timer | int }},
    "rebind-timer": {{ dhcp_rebind_timer | int }},
    "valid-lifetime": {{ dhcp_valid_lifetime | int }},

    "option-data": [
      {
        "name": "domain-name-servers",
        "data": {{ dhcp_dns_servers | join(', ') | to_json }}
      },
      {
        "name": "domain-name",
        "data": {{ domain_name | to_json }}
      }
    ],

    "subnet4": [
      {
        "id": {{ dhcp_subnet_id | int }},
        "subnet": {{ (network ~ '/24') | to_json }},
        "interface": {{ iface_internal | to_json }},
        "pools": [
          {
            "pool": {{ (dhcp_range_start ~ ' - ' ~ dhcp_range_end) | to_json }}
          }
        ],
        "option-data": [
          {
            "name": "routers",
            "data": {{ gateway | to_json }}
          },
          {
            "name": "broadcast-address",
            "data": {{ broadcast | to_json }}
          }
        ]
      }
    ],

    "loggers": [
      {
        "name": "kea-dhcp4",
        "output_options": [
          {
            "output": "stdout"
          }
        ],
        "severity": "INFO"
      }
    ]
  }
}
